body {
	font-family: sans-serif;
	margin: 20px auto;
	max-width: 600px;
}

.button {
	background-color: salmon;
	border:  1px solid salmon;
	border-radius: 5px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
}

#bird {
	border: 3px solid blue;
}

.button:hover {
	background-color: #fff;
	border:  1px solid salmon;
	color: #333;
}

img {
	max-width: 600px;
	width: 100%;
}